<section class="section container-fluid scrollable">
    <br /><br />
    <style>
        html, body, #map-canvas {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
    </style>
    <div class="scrollable">
        <div class="scrollable-header"> </div>
        <div class="scrollable-content">
            TailorMe is a ready reckoner for those who care about their dressing style.
This is the unique and quickest way to stay connected with tailors.
        </div>
</section>